HELP.md

# Build
target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


# Firebase credentials (nunca se deben subir)
firebase-adminsdk.json
src/main/resources/firebase-adminsdk.json
.env

# Archivos de prueba o generados
firebase_b64.txt
src/main/resources/firebase_b64.txt


jwt-secret.txt
